{% extends 'workouts/base.html' %}
{% block content %}
<div class="card-display">
    <a href="{% url 'profile' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

    <div class="card">
        <form method="POST">
            {% csrf_token %}
            <!-- {{ form.date}}
            {{ form.name}}
            {{ form.exercises }} -->
            {{form.as_p}}
            <div class="card-display">
                <input class="btn" type="submit" value="Add Workout">
            </div>
        </form>
    </div>
</div>
{% endblock content %}